<indicators-header indicators="modelsCtrl.indicators"></indicators-header>

<div  layout="column" flex=20 class="contentModel" layout-fill  >
	<risks-list risks="modelsCtrl.risks"></risks-list>
</div>

<md-content layout="row" layout-wrap layout-align="center none">
  <!--div class="models-table" flex="30" data-ng-repeat="m in modelsCtrl.models | orderBy:modelsCtrl.sortType:modelsCtrl.sortReverse | filter:modelsCtrl.filterModels"-->
  	<models-item class="models-table" flex="30" data-ng-repeat="model in modelsCtrl.models" model="model"></models-item>
</md-content>