<div class="modal-header">
    <h3 class="modal-title">Eliminar Área</h3>
</div>
<div class="modal-body">
    <p>¿Desea eliminar la gerencia <b>{{ nameArea }}</b>?</p>
    <p><b>Nota: Esta acción no se puede deshacer.</b></p>
    <p>No se puede eliminar esta gerencia debido a que tiene relación con <b>XXXXXXXXXX</b> modelos.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delete()">Eliminar</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
</div>