<div layout="row">
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>M</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalModels}}</div>
        <div class="comment">Total Modelos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>I</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalInactive}}&#32;(<span>{{reportCtrl.indicators.totalInactivePercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Inactivos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>B</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalBacktest}}&#32;(<span>{{reportCtrl.indicators.totalBacktestPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Backtesting</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon red pull-left">
          <span><b>N</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalUnvalidated}}&#32;(<span>{{reportCtrl.indicators.totalUnvalidatedPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">No Validados</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>V</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalValidated}}&#32;(<span>{{reportCtrl.indicators.totalValidatedPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Validados</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon green pull-left">
          <span><b>C</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalValidatedFullfil}}&#32;(<span>{{reportCtrl.indicators.totalValidatedFullfilPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Cumple</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon red pull-left">
          <span><b>X</b></span>
        </div>
        <div class="title">{{reportCtrl.indicators.totalValidatedNoFullfil}}&#32;(<span>{{reportCtrl.indicators.totalValidatedNoFullfilPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">No Cumple</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>



<div layout="column" layout-align="center center">
  <h2>Reporte de Modelos</h2>
  <span class="subheader-moment-picker" moment-picker="reportCtrl.datepicker.date" locale="es" 
        format="YYYY-MM" change="reportCtrl.changeDate(newValue)"
        today="True" max-view="month">
        {{ reportCtrl.datepicker.dateDisplay || 'Seleccione una fecha' }}
  </span>
</div>


<div layout="column" data-ng-show="reportCtrl.report != null">
  <div layout="column">
    <div flex>
      <table class="table table-striped own-table table-hover">
      <caption class="caption">Resumen de Modelos</caption>
      <thead class="thead-default">
        <tr>
          <th colspan="1" rowspan="2">Riesgo Asociado</th>  
          <th colspan="1" rowspan="2">Total</th>
          <th colspan="1" rowspan="2">No validados</th>  
          <th colspan="3" rowspan="1">Validados</th> 
          <th colspan="2" rowspan="1">% Validaciones</th>
        </tr>
        <tr>
          <th>Total</th> 
          <th>Cumple</th> 
          <th>No Cumple</th> 
          <th>validados/total modelos</th> 
          <th>cumplen/validados</th> 
        </tr>
      </thead>
      <tbody data-ng-repeat="r in reportCtrl.report.risks">
        <tr class="risk-header">
          <td><bold>{{r.risk}}</bold></td>
          <td>{{r.total}}</td>
          <td>{{r.unvalidated.value}}</td>
          <td>{{r.validated.value}}</td>
          <td>{{r.validatedFullfil.value}}</td>
          <td>{{r.validatedNotFullfil.value}}</td>
          <td>{{r.validated.percentage * 100| number :2 }}%</td>
          <td>{{r.validatedFullfil.percentage * 100| number :2 }}%</td>
        </tr>
        <tr class="area-header" data-ng-repeat="a in r.areas">
          <td colspan="1">{{a.area}}</td>
          <td colspan="1">{{a.total}}</td>
          <td colspan="1">{{a.unvalidated.value}}</td>
          <td colspan="1">{{a.validated.value}}</td>
          <td colspan="1">{{a.validatedFullfil.value}}</td>
          <td colspan="1">{{a.validatedNotFullfil.value}}</td>
          <td colspan="1">{{a.validated.percentage * 100| number :2 }}%</td>
          <td colspan="1">{{a.validatedFullfil.percentage * 100| number :2 }}%</td>
        </tr>  
        </tbody>
        <tbody>
          <tr  class="total-footer">
            <td>Total Modelos</td>
            <td>{{reportCtrl.report.total}}</td>
            <td>{{reportCtrl.report.unvalidated.value}}</td>
            <td>{{reportCtrl.report.validated.value}}</td>
            <td>{{reportCtrl.report.validatedFullfil.value}}</td>
            <td>{{reportCtrl.report.validatedNotFullfil.value}}</td>
            <td>{{reportCtrl.report.validated.percentage * 100| number :2 }}%</td>
            <td>{{reportCtrl.report.validatedFullfil.percentage * 100| number :2 }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div layout="column">
    <div flex>
      <table class="table table-striped own-table table-hover">
        <caption class="caption">Modelos</caption>
        <thead>
          <tr>
            <th colspan="1" rowspan="2">Riesgo</th>
            <th colspan="1" rowspan="2">Area</th>  
            <th colspan="1" rowspan="2">Responsable</th>  
            <th colspan="2">Modelo</th>  
            <th colspan="1" rowspan="2">Participa Cuantificación</th>
            <th colspan="1" rowspan="2">Resultado</th>
          </tr>
          <tr>
            <th>Código</th> 
            <th>Nombre</th> 
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="m in reportCtrl.reportModels">
            <td>{{m.risk}}</td>
            <td>{{m.area}}</td>
            <td>{{m.lead}}</td>
            <td>{{m.code}}</td>
            <td>{{m.name}}</td>
            <td>{{(m.is_qua == null) ? 'Por Definir' : (m.is_qua == 1) ? 'Sí' : 'No'}}</td>
            <td>{{ (m.result == null) ? 'Sin Entregar' : (m.result == 1) ? 'Cumplió' : 'No Cumplió'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

