<md-dialog style="width:750px;">
	<md-toolbar>
	<div class="md-toolbar-tools">
	  <h2>Implementar Backtesting: {{modelCtrl.model.name}}</h2>
	</div>
	</md-toolbar>
  	<md-dialog-content layout="column">
  		<form name="frecuencyForm">
  			<div layout=column  layout-padding>
  				<p>Por favor, ingrese los siguientes datos:</p>	
	  			<div layout="row">
					<md-input-container class="md-block" flex=40>
						<label>Autor</label>
						<input type="text"  data-ng-model="modelCtrl.model.author" required md-maxlength="100">
					</md-input-container>	
					<md-input-container class="md-block" flex="30">
				        <label>Fecha de creación</label>
			          	<input type="month" data-ng-model="modelCtrl.model.calibrated.date"
									placeholder="yyyy-MM" min="{{modelCtrl.model.calibrated.minDate | date:'yyyy-MM'}}" max="{{modelCtrl.model.calibrated.date | date:'yyyy-MM'}}" required />
			        </md-input-container> 
					<md-input-container class="md-block" flex="30">
				        <label>Fecha del primer backtesting</label>
			          	<input  type="month" data-ng-model="modelCtrl.model.firstBacktesting.date"
									placeholder="yyyy-MM" min="{{modelCtrl.model.firstBacktesting.date | date:'yyyy-MM'}}" max="{{modelCtrl.model.firstBacktesting.maxDate | date:'yyyy-MM'}}" required />
			        </md-input-container> 
	  			</div>
				<div layout="row">
					<md-input-container class="md-block" flex=40>
			            <label>Frecuencia Validación del Modelo</label>
			            <md-select required data-ng-model="modelCtrl.model.frecuency" 
			            		data-ng-change="modelCtrl.recalculateCapacity()">
			              <md-option ng-repeat="f in modelCtrl.frecuency" data-ng-value="{{f.v}}">
			                {{f.n}}
			              </md-option>
			            </md-select>
				    </md-input-container> 	

					<md-input-container class="md-block" flex=30>
						<label>H/H Metodología</label>
						<input type="number" data-ng-model="modelCtrl.model.met_hours_man" required step="0.01"
								data-ng-change="modelCtrl.recalculateCapacity()" min="0" max="999">
					</md-input-container>
					<md-input-container class="md-block" flex=30>
						<label>H/H Cuantificación</label>
						<input type="number"  data-ng-model="modelCtrl.model.qua_hours_man" required step="0.01"
							data-ng-change="modelCtrl.recalculateCapacity()" min="0" max="999">
					</md-input-container>	
				</div>
				<div layout="row">
					<md-input-container class="md-block text-area-static-height" flex=50>
				        <label>Metodolog&#237;a de Validaci&#243;n</label>
			          	<textarea required data-ng-model="modelCtrl.model.met_validation"
			          			  md-maxlength="250" minlength=5 rows="4" md-select-on-focus></textarea>
			        </md-input-container>
					<md-input-container class="md-block text-area-static-height" flex=50>
				        <label>Comentarios</label>
			          	<textarea required data-ng-model="modelCtrl.model.comment"
			          			  md-maxlength="250" minlength=5 rows="3" md-select-on-focus></textarea>
			        </md-input-container>

				</div>
				<div flex>
					<p><b>Resumen</b></p>	
					<span data-ng-show="modelCtrl.model.firstBacktesting">El próximo backtesting es <b>{{modelCtrl.model.firstBacktesting.date | date:'MM/yyyy'}}</b>.</span>&#32;<span data-ng-show="modelCtrl.model.frecuency">A partir de esta fecha, el backtesting se hará cada&#32;<b><ng-pluralize count="modelCtrl.model.frecuency" when="{'0': 'meses', 'one': '1 mes', 'other': '{} meses'}"></ng-pluralize></b>.</span>&#32;<span data-ng-show="modelCtrl.model.frecuency && modelCtrl.model.met_hours_man && modelCtrl.model.qua_hours_man">La capacidad total del área es <b>{{modelCtrl.model.cap_area}}</b> horas. La capacidad total de cuantificación es <b>{{modelCtrl.model.cap_qua}}</b> horas. La capacidad total es <b>{{modelCtrl.model.cap_total}}</b> horas.</span>
				</div>
  			</div>


		</form>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button data-ng-click="modelCtrl.updateFrecuency()" class="md-primary" data-ng-disabled="frecuencyForm.$invalid">
			Guardar
		</md-button>
	</md-dialog-actions>
</md-dialog>