<!doctype html>
<html lang="en" ng-app="modelsstockApp">
  <head>
    <meta charset="utf-8">
    <title>Models Stock</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.css" />
    <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
<body ng-controller="MasterCtrl as main">
  <div layout=column layout-fill>
    <section layout="row">
      <md-sidenav class="md-sidenav-left" md-component-id="left"  md-whiteframe="4">
        <md-toolbar>
          <h1 class="md-toolbar-tools">Menú Principal</h1>
        </md-toolbar>
        <md-content layout=column layout-margin>
          <md-button ng-click="main.optionSelect('index')">
            Dashboard
          </md-button>
          <md-button ng-click="main.optionSelect('models')">
            Modelos
          </md-button>
          <md-button ng-click="toggleLeft()">
            Backtesting
          </md-button>
          <md-button ng-click="toggleLeft()">
            Reporte
          </md-button>
        </md-content>
        

      </md-sidenav>
    </section>
    <div layout=column layout-fill class="fabSpeedDialModel">
        <md-toolbar class="md-toolbar-model">
          <div class="md-toolbar-tools" layout="row" >
              <md-button data-ng-click="toggleLeft()">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </md-button>
              <h2 class="md-flex">Modelo</h2>
              <div flex data-ng-show="$state.includes('model')">
                <fds-model-header></fds-model-header>
              </div>
              
          </div>
        </md-toolbar>

        <md-content layout-padding>
          <!-- Main Content -->
          <div ui-view></div>
        </md-content>
    </div>
  
  </div><!-- End Page Wrapper -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/directives/loading.js"></script>
        <script src="scripts/directives/widget-body.js"></script>
        <script src="scripts/directives/widget-footer.js"></script>
        <script src="scripts/directives/widget-header.js"></script>
        <script src="scripts/directives/widget.js"></script>
        <script src="scripts/services/riskservice.js"></script>
        <script src="scripts/services/typeservice.js"></script>
        <script src="scripts/services/apiservice.js"></script>
        <script src="scripts/controllers/risk.js"></script>

        <script src="scripts/directives/showfocus.js"></script>
        <script src="scripts/directives/myenter.js"></script>
        <script src="scripts/controllers/area.js"></script>
        <script src="scripts/services/areaservice.js"></script>
        <script src="scripts/directives/components/textinputupdate.js"></script>
        <script src="scripts/controllers/riskmodalcontroller.js"></script>
        <script src="scripts/directives/attributes/cursorme.js"></script>
        <script src="scripts/controllers/areamodelcontroller.js"></script>
        <script src="scripts/services/data/modelsdata.js"></script>
        <script src="scripts/controllers/model.js"></script>
        <script src="scripts/services/modelservice.js"></script>
        <script src="scripts/services/data/areasdata.js"></script>
        <script src="scripts/services/data/risksdata.js"></script>
        <script src="scripts/filters/ifnull.js"></script>
        <script src="scripts/filters/monthname.js"></script>
        <script src="scripts/controllers/models.js"></script>
        <script src="scripts/filters/resultbacktest.js"></script>
        <script src="scripts/controllers/model/modal/clone.js"></script>
        <script src="scripts/directives/model/menu/fdsmodelheader.js"></script>
        <script src="scripts/services/kindservice.js"></script>
        <!-- endbuild -->
</body>
</html>
