<div layout="column" layout-fill>
 
  
  




  <div layout="row" layout-fill flex>

    <div  layout="column" flex=20 class="contentModel" layout-fill  data-ng-controller="RiskCtrl as risks" >
      <md-content flex layout-fill data-ng-controller="AreaCtrl as areas">
          <span data-ng-if="risks.currentRisk == null">Para mostrar las áreas, seleccione un riesgo.</span>
          <div class="table-responsive" data-ng-show="risks.currentRisk != null">
            <a data-ng-click="areas.createArea(risks.currentRisk)" class="btn btn-link" data-ng-class='{disabled:risks.currentRisk == null}'>Nueva área</a>
            <table class="table table-hover">
              <thead>
                <tr><th style="vertical-align:middle;"><i class="fa fa-users" ng-class="icon"></i>&#32;Area</th><th>Líder</th></tr>
              </thead>
              <tbody>
                <tr id="{{a.id}}" data-ng-repeat="a in areas.areas" data-ng-class="{riskSelectedItem: a.id == areas.currentArea.id}">
                      <td data-ng-click="areas.selectArea(a)">
                        <text-input-update value-edit="a.name" my-blur="areas.updateArea(risks.currentRisk.id,a)"></text-input-update>
                      </td>
                      <td data-ng-click="areas.selectArea(a)">
                        <text-input-update value-edit="a.lead" my-blur="areas.updateArea(risks.currentRisk.id,a)"></text-input-update>
                      </td>
                      <td data-ng-click="areas.selectArea(a)"><span class="text-danger" data-ng-click="areas.removeArea($index,$event)" data-ng-show="a.id == areas.currentArea.id" cursor-me><i class="fa fa-trash-o"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
      </md-content>
    </div>

    <div layout="column" flex=80>
    <rd-widget>
      <rd-widget-header icon="fa-object-group" title="{{modelsCtrl.titleTable}}">
        <md-checkbox md-no-ink data-ng-model="modelsCtrl.showCurBacktesting" class="md-primary">
            Backtesting del actual mes
        </md-checkbox>

        <md-checkbox md-no-ink data-ng-model="modelsCtrl.showInactive" class="md-primary">
            Mostrar Inactivos
        </md-checkbox>
        <md-checkbox md-no-ink data-ng-model="modelsCtrl.showUncalibrated" class="md-primary">
            Mostrar Descalibrados
        </md-checkbox>
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" placeholder="Search" data-ng-model="modelsCtrl.filterModels" class="form-control input-sm" />
            </div>      
          </div>
        </form>
      </rd-widget-header>
    </rd-widget>
    
  </div>
  </div>

</div>
