<div layout="row">
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>M</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalModels}}</div>
        <div class="comment">Total Modelos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>I</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalInactive}}&#32;(<span>{{modelsCtrl.indicators.totalInactivePercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Inactivos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>B</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalBacktest}}&#32;(<span>{{modelsCtrl.indicators.totalBacktestPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Backtesting</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon red pull-left">
          <span><b>N</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalUnvalidated}}&#32;(<span>{{modelsCtrl.indicators.totalUnvalidatedPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">No Validados</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon blue pull-left">
          <span><b>V</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalValidated}}&#32;(<span>{{modelsCtrl.indicators.totalValidatedPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Validados</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon green pull-left">
          <span><b>C</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalValidatedFullfil}}&#32;(<span>{{modelsCtrl.indicators.totalValidatedFullfilPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">Cumple</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div flex="15">
    <rd-widget>
      <rd-widget-body>
        <div class="header-icon red pull-left">
          <span><b>X</b></span>
        </div>
        <div class="title">{{modelsCtrl.indicators.totalValidatedNoFullfil}}&#32;(<span>{{modelsCtrl.indicators.totalValidatedNoFullfilPercentage * 100| number :1 }}%</span>)</div>
        <div class="comment">No Cumple</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div layout="row" layout-fill>
  <div  layout="column" flex=20 class="contentModel" layout-fill  data-ng-controller="RiskCtrl as risks" >
    <md-content flex layout-fill>
        <rd-widget>
          <rd-widget-header icon="fa-bolt" title="Riesgos Asociados">
            <a data-ng-click="risks.toggleForm()" class="btn btn-link">Agregar</a>
          </rd-widget-header>

          <form role="form" data-ng-show="risks.showform" class="form"> 
            <div class="form-group">
              <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="Riesgo Asociado"
                         data-ng-model="risks.form.name"/>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" data-ng-click="risks.saveRisk()">Guardar</button>
              <button class="btn btn-default" data-ng-click="risks.cancelForm()">Cancelar</button>
            </div>
            <hr />
          </form>
          <div layout="column" layout-align="center center">
            <div layout="row" layout-fill layout-align="center center" data-ng-hide="risks.listOfRisks.length > 0">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div layout="column" layout-fill class="table-responsive" data-ng-show="risks.listOfRisks.length > 0">
              <table class="table table-hover">
                <thead>
                  <tr><th>Riesgo Asociado</th><th></th></tr>
                </thead>
                <tbody>
                      <tr id="{{r.id}}" data-ng-repeat="r in risks.listOfRisks"
                          data-ng-class="{riskSelectedItem: r.id == risks.currentRisk.id}">
                        <td data-ng-click="risks.selectRisk(r)">
                              <text-input-update value-edit="r.name" my-blur="risks.updateRisk(r)"></text-input-update>
                        </td>
                        <td data-ng-click="risks.selectRisk(r)"><span class="text-danger" data-ng-click="risks.removeRisk($index,$event)" data-ng-show="r.id == risks.currentRisk.id" cursor-me><i class="fa fa-trash-o"></i></span></td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
      </rd-widget>
    </md-content>
    <md-content flex layout-fill data-ng-controller="AreaCtrl as areas">
      <rd-widget>
        <rd-widget-header icon="fa-users" title="Areas">
          <a data-ng-click="areas.toggleForm(risks.currentRisk.id)" class="btn btn-link" data-ng-class='{disabled:risks.currentRisk == null}'>Agregar</a>
        </rd-widget-header>
        <form role="form" data-ng-show="areas.showform" class="form"> 
           <div class="form-group">
              <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="Área"
                     data-ng-model="areas.form.name"/>
              </div>
           </div>
            <div class="form-group">
              <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="Líder"
                     data-ng-model="areas.form.lead"/>
              </div>
           </div>
           <div class="form-group">
              <button class="btn btn-primary" data-ng-click="areas.saveArea(risks.currentRisk.id)">Guardar</button>
              <button class="btn btn-default" data-ng-click="areas.cancelForm()">Cancelar</button>
           </div>
           <hr />
        </form>
        <rd-widget-body classes="medium no-padding">
          <span data-ng-if="risks.currentRisk == null">Por favor, seleccione un riesgo.</span>
          <div class="table-responsive" data-ng-show="risks.currentRisk != null">
            <table class="table table-hover">
              <thead>
                <tr><th>Area</th><th>Líder</th><th></th></tr>
              </thead>
              <tbody>
                <tr id="{{a.id}}" data-ng-repeat="a in areas.areas" data-ng-class="{riskSelectedItem: a.id == areas.currentArea.id}">
                      <td data-ng-click="areas.selectArea(a)">
                        <text-input-update value-edit="a.name" my-blur="areas.updateArea(risks.currentRisk.id,a)"></text-input-update>
                      </td>
                      <td data-ng-click="areas.selectArea(a)">
                        <text-input-update value-edit="a.lead" my-blur="areas.updateArea(risks.currentRisk.id,a)"></text-input-update>
                      </td>
                      <td data-ng-click="areas.selectArea(a)"><span class="text-danger" data-ng-click="areas.removeArea($index,$event)" data-ng-show="a.id == areas.currentArea.id" cursor-me><i class="fa fa-trash-o"></i></span></td>
                    </tr>
              </tbody>
            </table>
              </div>
        </rd-widget-body>
      <rd-widget>
    </md-content>
  </div>

  <div layout="column" layout-fill flex>
    <rd-widget>
      <rd-widget-header icon="fa-object-group" title="{{modelsCtrl.titleTable}}">
        <md-checkbox md-no-ink data-ng-model="modelsCtrl.showCurBacktesting" class="md-primary">
            Backtesting del actual mes
        </md-checkbox>

        <md-checkbox md-no-ink data-ng-model="modelsCtrl.showInactive" class="md-primary">
            Mostrar Inactivos
        </md-checkbox>
        <md-checkbox md-no-ink data-ng-model="modelsCtrl.showUncalibrated" class="md-primary">
            Mostrar Descalibrados
        </md-checkbox>
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" placeholder="Search" data-ng-model="modelsCtrl.filterModels" class="form-control input-sm" />
            </div>      
          </div>
        </form>
      </rd-widget-header>
    </rd-widget>
    <md-content layout="row" layout-wrap layout-align="center none">
      <div class="models-table" flex="30" data-ng-repeat="m in modelsCtrl.models | orderBy:modelsCtrl.sortType:modelsCtrl.sortReverse | filter:modelsCtrl.filterModels">
          <md-card class="model" data-ng-class="{'model-inactive':m.active != true}">
            <md-card-title layout-align="center center" data-ng-class="{'inactive':m.active != true}">
              <md-card-title-text class="model-name model-name-active" data-ng-class="{'model-name-inactive':m.active != true}">
                <span>{{m.name | limitTo: 40}}<span data-ng-show="m.name.length > 40">...</span></span>
                <span class="subtitle">{{m.code}}&#32;-&#32;<i class="fa fa-bolt"></i>&#32;{{m.risk.name | limitTo: 40}}<span data-ng-if="m.risk_model.name.length > 40">...</span></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div layout="column" layout-align="center center">
                <div flex class="subtitle" >
                  <i class="fa fa-users"></i>&#32;{{m.area.name | limitTo: 40}}<span data-ng-if="m.area_model.name.length > 40">...</span>
                  &#32;|&#32;<span class="len">{{m.len | limitTo: 40}}<span data-ng-if="m.len.length > 40">...</span></span>
                </div> 

                <div flex class="content">
                  <p data-ng-show="m.last_backtest == null">
                    <i class="model-warning fa fa-cogs" aria-hidden="true"></i>
                    &#32;En Implementaci&#243;n
                  </p>

                  <div flex data-ng-show="m.last_backtest != null" data-ng-class="{'alert-danger':m.current_backtest.is_delayed != null && m.active == true}">
                    <i class="fa fa-calendar-plus-o"></i>&#32;
                    <span data-ng-show="m.last_backtest.next_year == null">Descalibrado</span>
                    <span data-ng-show="m.last_backtest.next_year != null">{{m.last_backtest.next_year}}/{{m.last_backtest.next_month | monthName}}</span>
                  </div>
                  <p class="model-delayed alert-danger" data-ng-if="m.current_backtest.is_delayed != null && m.active == true">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Precauci&#243;n:</span>
                    Actualmente atrasado&#32;
                      <ng-pluralize count="m.current_backtest.is_delayed"
                                    when="{'0': 'ningún mes.',
                                           'one': '1 mes.',
                                           'other': '{} meses.'}"></ng-pluralize>
                  </p>
                </div>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button data-ng-show="m.current_backtest.val_backtest_cur_month == true" data-ng-click="modelsCtrl.validateBacktesting(m,$event)">Backtesting</md-button>
              <md-button data-ng-click="modelsCtrl.selectModel(m)">Detalle</md-button>
            </md-card-actions>
          </md-card>
      </div>
    </md-content>
  </div>
</div>