<div layout="row">
	<div flex="20">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Total Modelos</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div flex="20">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">No Validados</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div flex="20">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Validados</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div flex="20">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">Validados Cumple</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div flex="20">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">Validados No Cumple</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
