<div class="row" data-ng-controller="RiskCtrl as risks">
	<div class="col-lg-4">
		<rd-widget>
      		<rd-widget-header icon="fa-bolt" title="Riesgos Asociados">
				<a data-ng-click="risks.toggleForm()" class="btn btn-link">Agregar</a>
      		</rd-widget-header>

			<form role="form" data-ng-show="risks.showform" class="form"> 
               <div class="form-group">
                  <div class="col-lg-12">
                    <input type="text" class="form-control" placeholder="Riesgo Asociado"
                         data-ng-model="risks.form.name"/>
                  </div>
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" data-ng-click="risks.saveRisk()">Guardar</button>
                  <button class="btn btn-default" data-ng-click="risks.cancelForm()">Cancelar</button>
               </div>
               <hr />
            </form>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr><th>Riesgo Asociado</th><th></th></tr>
						</thead>
						<tbody>
        					<tr id="{{r.id}}" data-ng-repeat="r in risks.listOfRisks"
        							data-ng-class="{riskSelectedItem: r.id == risks.selectedRiskId}">
        						<td data-ng-click="risks.selectRisk(r)">
                          <text-input-update value-edit="r.name" my-blur="risks.updateRisk(r)"></text-input-update>
        						</td>
                    <!--risks.removeRisk($index)-->
        						<td data-ng-click="risks.selectRisk(r)"><span class="text-danger" data-ng-click="risks.removeRisk($index)" data-ng-show="r.id == risks.selectedRiskId" cursor-me><i class="fa fa-trash-o"></i></span></td>
        					</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-8" data-ng-controller="AreaCtrl as areas">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Areas">
				<a data-ng-click="areas.toggleForm(risks.selectedRiskId)" class="btn btn-link" data-ng-class='{disabled:risks.selectedRiskId == null}'>Agregar</a>
			</rd-widget-header>
			<form role="form" data-ng-show="areas.showform" class="form"> 
         <div class="form-group">
            <div class="col-lg-12">
              <input type="text" class="form-control" placeholder="Área"
                   data-ng-model="areas.form.name"/>
            </div>
         </div>
          <div class="form-group">
            <div class="col-lg-12">
              <input type="text" class="form-control" placeholder="Líder"
                   data-ng-model="areas.form.lead"/>
            </div>
         </div>
         <div class="form-group">
            <button class="btn btn-primary" data-ng-click="areas.saveArea(risks.selectedRiskId)">Guardar</button>
            <button class="btn btn-default" data-ng-click="areas.cancelForm()">Cancelar</button>
         </div>
         <hr />
      </form>
			<rd-widget-body classes="medium no-padding">
				<span data-ng-if="risks.selectedRiskId == null">Por favor, seleccione un riesgo.</span>
				<div class="table-responsive" data-ng-show="risks.selectedRiskId != null">
					<table class="table table-hover">
						<thead>
							<tr><th>Area</th><th>Líder</th><th></th></tr>
						</thead>
						<tbody>
							<tr id="{{a.id}}" data-ng-repeat="a in risks.listOfAreas" data-ng-class="{riskSelectedItem: a.id == areas.selectedAreaId}">
        						<td data-ng-click="areas.selectArea(a)">
                      <text-input-update value-edit="a.name" my-blur="areas.updateArea(risks.selectedRiskId,a)"></text-input-update>
        						</td>
        						<td data-ng-click="areas.selectArea(a)">
        							<text-input-update value-edit="a.lead" my-blur="areas.updateArea(risks.selectedRiskId,a)"></text-input-update>
        						</td>
        						<td data-ng-click="areas.selectArea(a)"><span class="text-danger" data-ng-click="risks.removeArea($index)" data-ng-show="a.id == areas.selectedAreaId" cursor-me><i class="fa fa-trash-o"></i></span></td>
        					</tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<div class="row"  data-ng-controller="ModelCtrl as models">
  <div class="col-lg-12">
    <rd-widget>
          <rd-widget-header icon="fa-bolt" title="Modelos">
        <a data-ng-click="risks.toggleForm()" class="btn btn-link">Agregar</a>
          </rd-widget-header>
        <rd-widget-body classes="medium no-padding">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr><th>Modelo</th><th></th></tr>
              </thead>
              <tbody>
                    <tr id="{{m.id}}" data-ng-repeat="m in models.models"
                        data-ng-class="{riskSelectedItem: m.id == m.selectedModelId}">
                      <td data-ng-click="models.selectModel(m)">
                            <text-input-update value-edit="m.name" my-blur="models.updateModel(a)"></text-input-update>
                      </td>
                      <!--risks.removeRisk($index)-->
                      <td data-ng-click="models.selectModel(a)"><span class="text-danger" cursor-me><i class="fa fa-trash-o"></i></span></td>
                    </tr>
              </tbody>
            </table>
          </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>