<div class="row">
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-file" title="Tipos de Modelos">
				<a href="#">Agregar</a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">Tipo de modelo</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">Tipo 1</td></tr>
							<tr><td class="text-center">Tipo 2</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
